/*COMPONENT STYLES*/
.user-form {
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  height: 100vh;
  
  animation: Gradient 15s ease infinite;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
}

/*BACKGROUND ANIMATION*/
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.form-title {
  font-size: 2.5rem;
}

/*FORM STYLES*/
.user-info {
  align-items: center;
  background: #2A2A2A;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 290px;
  margin: 0 auto;
  padding: 35px 0 0;
  width: 80%;
}

.user-input {
  font-size: 1.5em;
  height: 40px;
  margin: 0 auto 20px auto;
  padding-left: 10px;
  width: 75%;
}

.form-btn {
  font-size: 1.4rem;
  height: 3rem;
  line-height: 1rem;
  margin-top: 1rem;
  width: 6rem;
}

/*LINK*/
.form-msg {
  margin: auto;
  margin-bottom: 0;
  margin-top: 5px;
  width: 80%;
}

.login-link {
  color: #ffffff;
}

/*INFO BUTTON*/
.info-btn {
  background-color: #2A2A2A;
  border: none;
  border-radius: 50%;
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  height: 3rem;
  position: relative;
    left: 10rem;
  width: 3rem;
}
