.month-affirmations {
  height: 100vh;
}

.month {
  width: 300px;
  border-bottom: 1px solid #fff;
  margin: 0 auto;
  color: #fff;
}

.affirmation-list {
  height: 55%;
  padding: 0;
}

.single-affirmation {
  color: #fff;
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
  justify-content: center;
  margin: 1rem;
}

.circle {
  color: #4BCE8F;
}

.affirmation-text {
  margin-left: 1.5rem;
}

.mood-color {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin: auto 10px auto 0;
}
