/*COMPONENT STYLES*/
.month-affirmations {
  height: 100vh;
}

/*TITLE STYLES*/
.month {
  border-bottom: 1px solid #fff;
  color: #fff;
  margin: 0 auto;
  width: 300px;
}

/*AFFIRMATIONS*/
.affirmation-list {
  height: 55%;
  padding: 0;
}

.single-affirmation {
  color: #fff;
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
  justify-content: center;
  margin: 1rem;
}

.circle {
  color: #4BCE8F;
}

.affirmation-text {
  margin-left: 1.5rem;
}

.mood-color {
  border-radius: 20px;
  height: 20px;
  margin: auto 10px auto 0;
  width: 20px;
}

/*BUTTON*/
.back-to-calendar-btn {
  font-size: 1.7rem;
  height: 4rem;
  width: 10rem;
}