/*COMPONENT STYLES*/
.home {
  align-items: center;
  display: flex;
  flex-direction: column;
}

/*TITLE*/
.welcome {
  color: #ffffff;
  margin: 0;
}

.this-month {
  color: #ffffff;
}

/*image*/
.bubbles {
  background-image: url("../../assets/bubbles.png");
  height: 45vh;
  margin-bottom: 2em;
  width: 95%;
}

/*BUTTONS*/
.home-btns-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
  width: 80%;
}

.home-btns {
  font-size: 1.7rem;
  height: 3rem;
  line-height: 1rem;
  width: 130px;
}
