/*COMPONENT*/
.calendar {
  border: none;
  height: 100vh;
}

/*CALENDAR*/
.calendar-container {
  height: 50vh;
  margin: auto;
  margin-top: 2rem;
  width: 95%;
}

/*CALENDAR NAVIGATION*/
.react-calendar__navigation {
  width: 80%;
  margin: auto;
  margin-top: 4rem;
}

.calendar-nav-btns {

}

/*NAVIGATION ARROWS*/
.nav-arrow {
  background: #daa520;
  box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.25),
    inset 5px 10px 10px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10%;
  color: #ffffff;
  font-size: 1.5rem;
  height: 1.5rem;
  margin: auto;
  padding: 1px;
  padding-bottom: 8px;
  width: 1.5rem;
}

/*NAVIGATION MONTH*/
.nav-label {
  font-size: 2rem;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
}

/*MONTH*/
.month-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

/*MONTH DATES*/
.calendar-day-prev,
.calendar-day,
.calendar-day-next {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  text-shadow: 2px 2px 2px #DAA520;
}

.calendar-day-prev,
.calendar-day-next {
  color: #2a2a2a;
}

