.daily-entry,
.daily-affirmation {
  padding: 37px 55px 27px;
  position: relative;
  border: 1px solid #b5b5b5;
  background: white;
  background: -webkit-linear-gradient(top, #dfe8ec 0%, white 8%) 0 57px;
  background: -moz-linear-gradient(top, #dfe8ec 0%, white 8%) 0 57px;
  background: linear-gradient(top, #dfe8ec 0%, white 8%) 0 57px;
  -webkit-background-size: 100% 30px;
  -moz-background-size: 100% 30px;
  -ms-background-size: 100% 30px;
  background-size: 100% 30px;
  width: 50%;
  margin: 0 auto 50px auto;
  color: #282625;
  border: solid 1px #ccc;
  -moz-box-shadow: 5px 5px 0px #999;
  -webkit-box-shadow: 5px 5px 0px #999;
  box-shadow: 5px 5px 0px #999;
  text-align: justify;
  font-size: 1.2em;
  border-radius: 5px;
}
