/*COMPONENT STYLES*/
.daily-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.analytical-bg {
  background: rgba(129,220,176, 0.62);
}

.joy-bg {
  background: rgba(227,186,86, 0.8);
}

.fear-bg {
  background: rgba(237,158,90, 0.8);
}

.confident-bg {
  background: rgba(98,74,121, 0.8);
}

.tentative-bg {
  background: rgba(235,123,162, 0.8);
}

.anger-bg {
  background: rgba(221,134,134, 0.9);
}

.sadness-bg {
  background: rgba(106,164,203, 0.9);
}

/*DATE*/
.daily-date {
  color: #ffffff;
  margin: 0;
}

/*DAILY TONE*/
.tone-word {
  font-weight: bold;
  font-size: 54px;
  margin: 0 0 1.5rem;
}

.analytical {
  color: #4BCE8F;
  text-shadow: 0px 4px 4px rgba(84, 84, 84, 0.8);
}

.joy {
  color: #e0b344;
  text-shadow: 0px 4px 4px rgba(42, 42, 42, 0.8);
}

.fear {
  color: #e98632;
  text-shadow: 0px 4px 4px rgba(42, 42, 42, 0.8);
}

.confident {
  color: #3b1e58;
  text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.3);
}

.tentative {
  color: #E02F6D;
  text-shadow: 0px 4px 4px rgba(42, 42, 42, 0.8);
}

.anger {
  color: #C73636;
  text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
}

.sadness {
  color: #2b7db5;
  text-shadow: 0px 4px 4px rgba(42, 42, 42, 0.8);
}

/*JOURNAL AND AFFIRMATION*/
.daily-entry,
.daily-affirmation {
  background-color: #f5f1e7;
  background-image: url('../../assets/paper2.png');
  border: 1px solid #b5b5b5;
  border-radius: 5px;
  color: #282625;
  font-size: 1.4rem;
  margin: 0 0 1rem;
  padding: 20px;
  overflow: scroll;
  text-align: left;
  width: 75%;
}

.daily-entry {
  height: 30%;
}

/*AFFIRMATION*/
.daily-affirmation-text {
  margin: 0;
}

/*BUTTONS*/
.btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
  width: 65%;
}

.left-arrow,
.back-to-calendar-btn,
.right-arrow {
  font-size: 1.3rem;
  line-height: 1rem;
  height: 3rem;
}
